*{
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.all-content{
    background: #f7f5f2;
}

html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: #b2744c;
    border-radius: 10px;
}
html ::-webkit-scrollbar{
    width: 10px;
}
/* navbar começo*/
#navbar{
    background-color: #b2744c;

}

#logo img{
    border-radius: 10px;
    width: 160px;
    margin-left: 40px;
}

.navbar-nav{
    margin-left: 50px;
}

.nav-item .nav-link{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}

.nav-item .nav-link:hover{
    background: #f7f5f2;
    border-radius: 5px;
    color: black;
}

#navbar form button{
    background: black;
    color: white;
    border: 1px solid white;
}

/*navbar fim*/

/*home começo*/
#home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/images/cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 88%;
}

#home .content{
    padding-top: 210px;
    margin-left: 56px;
}

#home .content h3{
    font-size: 50px;
    color: white;
}

#home .content p{
    margin-top: 10px;
    color: white;
}

#btn{
    width: 150px;
    height: 36px;
    background: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}

#btn:hover{
    background: #b2744c;
    color: white;
}
/*home fim*/


/*sobre começo*/
#about{
    width: 100%;
    height: 100vh;
}

#about .container{
    padding-top: 50px;
}

.heading{
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.heading span{
    color: #b2744c;
}

#about .card img{
    border-radius: 10px;
}

#about .card{
    border-radius: 10px;
}

#about-btn{
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid #b2744c;
    color: #b2744c;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

#about-btn:hover{
    color: white;
    background-color: #b2744c;
}

@media screen and (max-widht:982px){
    #about p{
        font-size: 8px;
    }    
} 
@media screen and (max-widht:766px){
    #about p{
        font-size: 15px;
    }    
    #about{
        height: 120vh;
    }
} 
/*sobre fim*/


/*categorias começo*/
#top-cards{
    width: 100%;
    height: 60vh;
    background: white;
}

.heading2{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.heading2 span{
    color: #b2744c;
}
#top-cards .container{
    margin-top: 30px;
}

#top-cards .card{
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

#top-cards .card img{
    border-radius: 10px;
}

#top-cards .card:hover{
    transform: translateY(-10px);
}
/*categorias fim*/



/*menu começo*/
#menu{
    width: 100%;
    margin-top: 60px;
}

.heading3{
    text-align: center;
    font-size: 30px;
    color: #b2744c;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}
#container2{
    margin-top: 50px;
}
#menu .card{
    transition: 0.5s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

#menu .card:hover{
    transform: translateY(-10px);
}

#menu h3{
    text-align: center;
    color: #b2744c;
    margin-top: 10px;
    font-size: 25px;
}

#menu p{
    font-size: 16px;
    color: #b2744c;
    padding-top: 10px;
    margin: 20px;
}

#menu p span{
    float: right;
    cursor: pointer;
}
/*menu fim*/


/*produt começo*/


#product{
    width: 100%;
    background: #f7f5f2;
    font-family: 'Roboto', sans-serif;
  }

  #product .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    transition: 0.5s;
  }

  #product .card:hover{
    transform: translateY(-10px);
  }
  .heading4{
    text-align: center;
    color: #b2744c;
    font-size: 30px;
    font-weight: bold;
    padding-top: 70px;
    border-bottom: 2px solid #b2744c;
  }
  #container3{
    margin-top: 30px;
  }
  #product h3{
    text-align: center;
    color: #b2744c;
    font-size: 23px;
  }
  #product p{
    color: #b2744c;
    padding-top: 10px;
  }
  #product p span{
    float: right;
    cursor: pointer;
  }
  /* produto fim */






/*contato começo*/
#contact{
  width: 100%;
  height: 100vh;
  padding-top: 70px;
}
#contact .container{
    width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, white 80%, #b2744c 20%);
    border-radius: 10px;
}
.heading5{
    font-size: 30px;
    margin-top: 70px;
    font-weight: bold;
}
.heading5 span{
    color: #b2744c;
}
#contact p{
    font-weight: bold;
    font-size: 13px;
    color: black;
}
#contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solid #b2744c;
}
#contact-btn{
    width: 200px;
    height: 36px;
    border: none;
    background: #b2744c;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}
#col{
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
}
#contact h1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
#contact #col p{
    font-size: 15px;
    color: white;
    margin-left: 13px;
    margin-top: 30px;
}
@media screen and (max-width:766px){
    #contact .container{
        background: white;
    }
    #col{
        width: 100%;
        background: #b2744c;
    }
    #contact{
        height: 150vh;
    }
}
@media screen and (max-width:400px){
    #contact input{
        width: 250px;
    }
}

/*contato fim*/



/*footer começo*/
#footer{
    width: 100%;
    background: #b2744c;
    margin-top: 0px;
    height: 100%;
  }
  #footer .socail-links i{
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  .credite{
    color: white;
    margin-top: 20px;
  }
  .credite{
    text-shadow: 0px 0px 1px black;
  }
  .credite a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .credite a span{
    color: black;
  }
  .copyright span{
    color: black;
  }
  html{
    scroll-behavior: smooth;
  }
  .arrow{
    position: fixed;
    border-radius: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
  }

/*footer fim*/